
:root {
  --linear:linear-gradient(10deg,#810551,#05454d)
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width:5px;
  background-color: #111;
}
 ::-webkit-scrollbar-thumb {
  background-color:#05454d ;
  border-radius: 50px;
  transition: 0.5s;
 }

 
